@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
html, body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
p {
    font-weight: 300;
}
.container {
    width: 75%;
    margin: auto;
}
@media (max-width: 1200px) {
    .container {
        width: 90%;
    }
}
header {
    /*background-color: #910002;*/
    background-image:
            linear-gradient(
                    45deg,
                    rgba(218, 0, 2, 0.75), rgba(145, 0, 2, 0.75)
            );

}
header .inner {
    padding: 20px 0;
    background-image: url('assets/img/tube-map-bg.png');
    color: #E1E1E1;
}
#homeBanner {
    margin: 40px 0;
    display: none;
    text-align: center;
}
#homeBanner h1 {
    color: #FFF;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    margin: 0;
    font-family: 'Bungee Inline', cursive;
    text-shadow: 1px 1px 2px #333;
}
#homeBanner h2 {
    font-weight: 300;
    font-size: 30px;
}
header .right-menu {
    float: right;
    padding-top: 8px;
}
nav.main {
    height: 60px;
    line-height: 60px;
}
.logo {
    width: 60px;
    height: 60px;
    margin-right: 50px;
    float: left;
}
nav.main a:not(.logo) {
    color: #E1E1E1;
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
    transition: color ease-in 0.1s, background-color ease-in 0.1s;
}
nav.main a .icon {
    font-size: 16px;
    margin-right: 5px;
}
nav.main a:hover {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.10);
}
header .bar {
    height: 5px;
    background-color: rgba(145, 0, 2, 0.5);
}
a.outlined-button {
    border: solid 2px #E1E1E1;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #E1E1E1;
    border-radius: 5px;
    transition: color ease-in 0.1s, background-color ease-in 0.1s;
}
a.outlined-button.large {
    padding: 15px 30px;
    font-size: 18px;
}

a.outlined-button:hover, a.outlined-button.active {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

a.outlined-button:hover {
    background-color: #FFFFFF;
    color: #910002;
}
main {
    min-height: 400px;
}
main h2 {
    font-weight: 400;
    font-size: 30px;
}

footer {
    background-color: #333;
    min-height: 250px;
}

rbl-slide-menu {
    --header-bg-color: #910002;
}

rbl-slide-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px rgba(204, 204, 204, 0.25);
}
rbl-slide-menu ul li {
    line-height: 40px;
}
rbl-slide-menu ul li a {
    padding: 0 20px;
    color: #333;
    text-decoration: none;
    display: block;
    transition: color 300ms ease;
}
rbl-slide-menu ul li.title {
    padding: 0 10px;
    font-weight: bold;
}
rbl-slide-menu ul li a:visited {
    color: inherit;
}
rbl-slide-menu ul li a:hover {
    color: #910002;
    background-color: #E1E1E1;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-item {
    flex: 1;
    padding: 10px;
    min-width: 300px;
}

.page-title {
    text-align: center;
    margin-bottom: 20px;
    color: #910002;
}

.features .flex-item {
    display: flex;
}
.features .flex-item .text {
    padding-left: 20px;
    font-size: 18px;
}
.features .flex-item .bar {
    width: 2px;
    background-color: #CCC;
}
.features .flex-item .text h3 {
    margin: 0;
    font-weight: 400;
    color: #910002;
}
.features .flex-item .feature-icon {
    font-size: 64px;
    text-align: center;
    width: 100px;
    flex-shrink: 0;
    color: #999;
}
.page-separator {
    height: 5px;
    background-color: rgba(145, 0, 2, 0.3);
    position: relative;
    width: 50%;
    margin: 20px auto 40px auto;
}
.page-separator .circle {
    width: 10px;
    height: 10px;
    border: solid 5px rgba(145, 0, 2, 0.56);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -7px;
    background-color: #FFFFFF;
}
.page-separator .circle:first-child {
    left: 0;
}
.page-separator .circle:last-child {
    right: 0;
}