@import url('https://fonts.googleapis.com/css?family=Lato');
html, body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.logo {
    width: 60px;
    height: 60px;
    background-color: #910002;
    color: #FFF;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 20px;
}
header {
    /*background-color: #910002;*/
    background-image:
            linear-gradient(
                    45deg,
                    rgba(218, 0, 2, 0.5), rgba(145, 0, 2, 0.5)
            );
    height: 500px;
    padding: 20px;
}
nav.main {
    display: flex;
    align-items: center;
}
nav.main a {
    color: #333;
    text-decoration: none;
}
